<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983944371385-340acfs9d7c8hpjo9pol5rd57nr5qgam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983944371385-340acfs9d7c8hpjo9pol5rd57nr5qgam</string>
	<key>API_KEY</key>
	<string>AIzaSyBc1WI-nZ7c7K8NQP2eQMG-Mud6vtBR07s</string>
	<key>GCM_SENDER_ID</key>
	<string>983944371385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wroodalrashidi.Final-project</string>
	<key>PROJECT_ID</key>
	<string>help-3cd2f</string>
	<key>STORAGE_BUCKET</key>
	<string>help-3cd2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:983944371385:ios:7400da5b67af3c2b898f68</string>
	<key>DATABASE_URL</key>
	<string>https://help-3cd2f.firebaseio.com</string>
</dict>
</plist>
